@font-face {
    font-family: GTSuperDisplay-RegularItalic;
    src: url('assets/Fonts/GTSuperDisplay-RegularItalic.otf');
    font-style: normal;
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url('assets/Fonts/Gilroy-Semibold.ttf');
    font-style: normal;
}

@font-face {
    font-family: Gilroy-Medium;
    src: url('assets/Fonts/Gilroy-Medium.ttf');
    font-style: normal;
}

@font-face {
    font-family: Gilroy-Regular;
    src: url('assets/Fonts/Gilroy-Regular.ttf');
    font-style: normal;
}

h1 {
    font-family: "Gilroy-Semibold";
    font-size: 2em;
    padding-top: 0px;
    text-transform: uppercase;
}

h2 {
    font-family: "Gilroy-Semibold";
    font-size: 1.8em;
    text-transform: uppercase;
    color: #ffffff !important;
    text-align: center;
}

h3 {
    font-family: "Gilroy-Regular";
    font-size: 1.5em;
    padding-top: 0px;
    text-transform: none;
    color: #ffffff;
    text-align: center;
}

h4 {
    font-family: "GTSuperDisplay-RegularItalic";
    font-size: 1.3em;
    padding-top: 0px;
    text-transform: none;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
}

span {
    color: #ffffff;
    font-family: "Gilroy-Semibold";
}

span-medium {
    color: #ffffff;
    font-family: "Gilroy-Medium";
}

p {
    color: #ffffff;
    font-family: "Gilroy-Regular";
    text-align: center;
}

.btn-primary {
    font-family: "Gilroy-Semibold" !important;
    box-shadow: none;
    background: #CA4248;
    width: 100%;
    color: #ffffff;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-radius: 0px;
    margin-top: 30px;
    border: none;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:hover,
.btn-primary:active {
    font-family: "Gilroy-Semibold";
    box-shadow: none;
    background: #CA4248;
    width: 100%;
    color: #ffffff;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-radius: 0px;
    border: none;
    filter: brightness(90%);
}

.btn-secondary {
    font-family: "Gilroy-Semibold" !important;
    box-shadow: none;
    background: #CA4248;
    width: 100%;
    color: #ffffff;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-radius: 0px;
    margin-top: 10px;
    border: none;
}

.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary:hover,
.btn-secondary:active {
    font-family: "Gilroy-Semibold";
    box-shadow: none;
    background: #CA4248;
    width: 100%;
    color: #ffffff;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-radius: 0px;
    border: none;
    filter: brightness(90%);
}

.input-date {
    color: #CA4248;
    background-color: #ffffff !important;
    font-size: 2rem;
    font-size: 16px;
    text-align: center;
    width: 100%;
    border: 0px solid #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px !important;
}

.age-gate {
    display: block;
    align-content: center;
    box-sizing: border-box;
    padding-top: 0px;
}

.form {
    display: block;
    margin-top: 0em;
}

.age-confirmation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 5px;
    padding-right: 5px;
}

/* Footer section */
.downtown {
    position: relative;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    display: block;
    margin-top: auto;
}

.mobile {
    padding-bottom: 0px !important;
    position: relative;
    margin-bottom: 0px !important;
    margin-top: auto;
}

.desktop {
    padding: 0px;
    position: relative;
    bottom: 0px;
    z-index: 0px;
}

/* Mobile rules */
@media (max-width:992px) {
    section {
        background-color: #E7A9A4;
        min-height: 100vh;
        overflow-x: hidden;
    }

    .desktop {
        visibility: hidden;
        display: none;
    }

    .body-content {
        padding-bottom: 40vh;
        margin-bottom: 0vh;
    }
}

/* Desktop rules */
@media (min-width:992px) {
    section {
        background-color: #E7A9A4;
        min-height: 100vh;
        overflow-x: hidden;
    }

    .body-content {
        padding-bottom: 20vh;
    }

    .mobile {
        visibility: hidden;
        display: none;
    }
}

label {
    font-family: "Gilroy-Medium";
    color: #ffffff;
    padding: 0px;
    margin-bottom: 0.5rem;
}

a {
    color: #CA4248 !important;
    text-decoration: none;
}

a:hover {
    color: #CA4248;
    filter: brightness(90%);
}

.form-control {
    font-family: "Gilroy-Medium";
    box-shadow: none;
    color: #CA4248;
    background: #ffffff;
    margin-bottom: 20px;
    border-color: #ffffff;
    border-radius: 0px;
    padding: 0.375rem 0.05rem;
    text-indent: 5px;
}

.form-control:focus {
    box-shadow: none;
    background: #ffffff;
    margin-bottom: 20px;
    border-bottom-width: 2px;
    border-bottom-color: #ffffff;
    padding-top: 0;
    padding: 0.375rem 0.05rem;
    color: #CA4248;
}

::placeholder {
    color: #B0B3B4 !important;
}

input[type="text"].form-control::-webkit-input-placeholder {
    color: #B0B3B4;
}

.aria-labelledby {
    color: #B0B3B4;
}

input#customFile.upload-file {
    display: flex;
    color: #ffffff;
    border-width: 13px;
    font-size: 0.8em;
    border-radius: 0px !important;
}

.form-check-input {
    border-width: 0px;
    background-color: #ffffff;
    border-radius: 0px !important;
}

.form-check-input:checked {
    color: #ffffff;
    background-color: #CA4248 !important;
    border-width: 0px;
    border-color: #CA4248;
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: #ffffff !important;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

select.form-control {
    -webkit-appearance: menulist;
    font-family: "Gilroy-Medium";
    color: #CA4248;
    height: 35px !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

option {
    color: #CA4248;
    font-size: 0.9em;
}

.content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px !important;
}

.content-field {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

hr {
    color: #EED186;
    opacity: 100;
}

.header-logo {
    padding-top: 20px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}