@font-face {
    font-family: 'BrutalTypeBlack';
    src: url('assets/fonts/BrutalTypeBlack.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'BrutalTypeExtraBold';
    src: url('assets/fonts/BrutalTypeExtraBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'BrutalTypeMedium';
    src: url('assets/fonts/BrutalTypeMedium.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'BrutalType';
    src: url('assets/fonts/BrutalType.otf');
    font-style: normal;
}

h1 {
    font-family: 'BrutalTypeBlack';
    font-size: 2em;
    padding-top: 0px;
    text-transform: uppercase;
}

h2 {
    font-family: 'BrutalTypeBlack';
    font-size: calc(1.325rem + 0.9vw);
    text-transform: uppercase;
    color: #eee7d5 !important;
    text-align: center;
}

h3 {
    font-family: 'BrutalTypeExtraBold';
    font-size: calc(1.3rem + 0.6vw);
    padding-top: 10px;
    text-transform: none;
    color: #eee7d5;
    text-align: center;
}

h4 {
    font-family: 'BrutalType';
    font-size: calc(1.1rem + 0.275vw);
    padding-top: 10px;
    text-transform: none;
    font-weight: 100;
    color: #00392c;
    text-align: center;
}

h5 {
    font-family: 'BrutalType';
    font-size: calc(1.1rem + 0.275vw);
    padding-top: 10px;
    text-transform: none;
    font-weight: 100;
    color: #eee7d5;
    text-align: center;
}

p {
    font-family: 'BrutalTypeMedium';
    font-size: 1.2em;
    padding-top: 10px;
    text-transform: none;
    font-weight: 300;
    color: #eee7d5;
    text-align: center;
}

span {
    color: inherit;
    font-family: 'BrutalTypeMedium';
    text-transform: uppercase;
}

.btn-primary {
    font-family: 'BrutalTypeExtraBold';
    box-shadow: none;
    background: #c8102e;
    width: 100%;
    color: #ffffff;
    outline: none;
    padding-bottom: 1vh;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0px;
    margin-top: 30px;
    padding-top: 1vh;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:hover,
.btn-primary:active {
    font-family: 'BrutalTypeExtraBold';
    box-shadow: none;
    background: #c8102e;
    width: 100%;
    color: #ffffff;
    outline: none;
    text-transform: uppercase;
    border-radius: 0px;
    filter: brightness(90%);
    border: 0px;
}

.input-date {
    font-family: 'BrutalType' !important;
    color: #eee7d5;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border: 2px solid #eee7d5;
    height: 100%;
    font-size: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.input-date:active,
.input-date:focus-visible,
.input-date:focus {
    outline: none;
    background-color: transparent;
}

.age-gate-row {
    position: relative;
    isolation: isolate;
}

.age-gate {
    display: block;
    align-content: center;
    box-sizing: border-box;
    padding-top: 20px;
}

.form {
    display: block;
    margin-top: 0em;
}

.age-confirmation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 5px;
    padding-right: 5px;
}

/* Footer section */
.desktop-mobile {
    /* padding: 0 */
    bottom: 0;
    position: fixed;
}

label {
    font-family: 'BrutalTypeMedium';
    padding-bottom: 0.5em !important;
    color: #eee7d5;
    padding: 10px 0px 0px;
}

/* Mobile rules */
@media (max-width:992px) {
    section.background-img {
        background-repeat: no-repeat;
        min-height: 95vh;
        background-position: center center;
        overflow-x: hidden;
        background-size: cover;
        background-color: #00392C;
        background-attachment: fixed;
    }

    .desktop-footer {
        visibility: hidden;
        display: none;
    }
}

/* Desktop rules */
@media (min-width:992px) {
    section.background-img {
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        background-position: center bottom;
        background-color: #00392C;
        background-attachment: fixed;
    }

    .mobile-footer {
        visibility: hidden;
        display: none;
    }

    .heading-line {
        padding-top: 0.9em;
    }
}

/* Links */
a {
    color: #eee7d5 !important;
    text-transform: capitalize;
    text-decoration: underline;
}

a:hover {
    color: #eee7d5;
}

/* Form */
.form-control {
    font-family: 'BrutalTypeMedium' !important;
    font-size: 0.9em;
    color: #eee7d5;
    box-shadow: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: transparent;
    border: 2px solid #eee7d5;
    border-radius: 0px;
}

.form-control:focus {
    font-family: 'BrutalTypeMedium' !important;
    box-shadow: none;
    background-color: transparent;
    border: 2px solid #eee7d5;
    color: #eee7d5;
}

select.form-control {
    font-family: 'BrutalTypeMedium' !important;
    -webkit-appearance: menulist;
    color: #eee7d5;

    /* color: #B0B3B4; */
    font-size: 0.9em;
}

select.form-control:active,
select.form-control:focus-within,
select.form-control:target {
    font-family: 'BrutalTypeMedium' !important;
    -webkit-appearance: menulist;
    color: #eee7d5 !important;
    font-size: 0.9em;
}

.select {
    color: #eee7d5 !important;
}

select option[disabled] {
    color: #B0B3B4;
}

option {
    font-family: 'BrutalTypeMedium' !important;
    color: #00392c;
    font-size: 0.9em;
}

.form-control::placeholder {
    font-family: 'BrutalType';
    color: #B0B3B4;
    opacity: 1;
    font-size: 0.9em;
}

::placeholder {
    color: #B0B3B4;
    font-family: 'BrutalType';
}

.custom-file-upload {
    font-family: 'BrutalType';
    font-size: 1em;
    height: 36px;
    padding-top: 3px !important;
    display: inline-block;
    text-transform: lowercase;
    padding: 3px 3px;
    cursor: pointer;
    border: 2px solid #eee7d5;
    border-radius: 0px;
    background-color: transparent;
    margin-right: 10px;
}

#file-upload {
    display: none;
    text-transform: lowercase;
    color: #eee7d5;
    font-family: 'BrutalType';
}

.file-name {
    font-family: 'BrutalType';
    color: #eee7d5;
    text-transform: lowercase;
}

.mb-3 {
    margin-bottom: 0px !important;
}

.form-check {
    display: inline-flex;
    align-items: baseline;
}

.form-check-input:checked {
    background-color: transparent;
    border-color: #eee7d5;
    border-width: 2px;
    box-shadow: none;
    border-radius: 0px;
}

.form-check-input {
    background-color: transparent;
    border-color: #eee7d5;
    border-width: 2px;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.form-check-input:focus {
    background-color: transparent;
    border-width: 2px;
    border-color: #eee7d5;
    box-shadow: none;
    border-radius: 0px;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

input[type="text"].form-control::-webkit-input-placeholder {
    color: #B0B3B4;
}

.aria-labelledby {
    color: #B0B3B4;
}

input#customFile.upload-file {
    display: flex;
    color: #eee7d5;
    border-width: 13px;
}

/* General */
.body-content {
    padding-bottom: 10vh;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.prizes {
    padding-top: 30px;
    padding-bottom: 20px;
}

.logo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.castle-draught {
    padding-top: 80px;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.banner {
    width: 100% !important;
    background: linear-gradient(to right, #00392C 0%, #F2E9D4 10%, #EEE7D5 90%, #00392C 100%);
    color: #333;
    text-align: center;
    padding: 0px;
    font-family: 'BrutalType';
}

.banner span {
    color: #003a28;
}

.drinks {
    margin-top: 30%;
}