@font-face {
    font-family: Jost-Black;
    src: url('assets/fonts/Jost-Black.ttf');
    font-style: normal;
}

@font-face {
    font-family: Jost-Bold;
    src: url('assets/fonts/Jost-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: Jost-Medium;
    src: url('assets/fonts/Jost-Medium.ttf');
    font-style: normal;
}

@font-face {
    font-family: Jost-Regular;
    src: url('assets/fonts/Jost-Regular.ttf');
    font-style: normal;
}

h1 {
    font-family: "Jost-Bold";
    font-weight: 600;
    font-style: normal;
    font-size: 1.9em;
    padding-top: 50px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

h2 {
    font-family: "Jost-Bold";
    font-size: calc(1.225rem + 0.8vw);
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    color: #142e49 !important;
    z-index: 1;
    margin-bottom: 0px;
}

h3 {
    font-family: "Jost-Bold";
    font-size: calc(1.175rem + 0.2vw);
    padding-top: 10px;
    text-transform: uppercase;
    color: #142e49;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

h4 {
    font-family: "Jost-Regular" /* Medium */;
    font-weight: 500;
    font-style: normal;
    font-size: calc(1.1rem + 0.175vw);
    padding-top: 0px;
    text-transform: none;
    color: #142e49;
    padding-bottom: 10px;
    text-align: center;
}

p {
    font-family: "Jost-Medium";
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    padding-top: 0px;
    text-transform: none;
    color: #142e49;
    padding-bottom: 0px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    direction: ltr;
}

span {
    font-family: "Jost-Bold";
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    color: inherit;
}

/* Buttons */
.btn-primary {
    font-family: "Jost-Bold";
    font-weight: 600;
    font-style: normal;
    border-radius: 5px;
    background: #97D0F5;
    border: 2px solid #97D0F5;
    width: 100%;
    color: #ffffff;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-top: 20px;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus-visible {
    background: #142e49  !important;
    color: #ffffff;
    outline: none;
    border: 2px solid #142e49  !important;
    box-shadow: none;
    transform: scale(1.05);
    box-shadow: none;
}

.btn-primary:active:focus {
    box-shadow: none;
}

/* Footer section */
.downtown {
    position: fixed;
    bottom: 0 !important;
    display: block;
}

.footer-area {
    margin-top: 5vh;
}

/* Mobile rules */
@media (max-width:767px) {
    section.background {
        min-height: 100vh;
        background-color: #ffffff;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .margin {
        margin-left: auto;
        margin-right: auto;
    }

    section.background-plain {
        min-height: 100vh;
        background-color: #ffffff;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .desktop-footer {
        visibility: hidden;
        display: none;
    }

    .p-b {
        padding-bottom: 7vh;
    }
}

/* Large mobile rules */
@media (min-height:800px) and (max-height:991px) {
}

/* Desktop rules */
@media (min-width:768px) {
    section.background {
        min-height: 100vh;
        background-color: #ffffff;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: left top;
    }

    section.background-plain {
        min-height: 100vh;
        background-color: #ffffff;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .mobile-footer {
        visibility: hidden;
        display: none;
    }
}

/* Links */
a:hover {
    color: #142e49;
}

a {
    color: #142e49;
    text-decoration: underline;
}

/* Forms */
label {
    font-family: "Jost-Medium";
    color: #142e49;
    padding: 0px;
    font-size: 1em;
    margin-bottom: 5px !important;
    text-transform: none;
}

.input-date {
    color: #142e49;
    background-color: #ffffff;
    font-size: 0.8rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border: 2px solid #97D0F5;
    border-radius: 5px;
}

.input-date:focus-visible {
    border-radius: 0px;
    background-color: #97D0F5;
    border: 2px solid #ffffff;
    outline: none;
}

.form {
    display: block;
    margin-top: 0em;
}

.age-confirmation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-right: 5px;
    padding-left: 5px;
}

option {
    font-size: 1em !important;
    min-height: 1em;
    color: #142e49;
}

.form-check-input[type="checkbox"] {
    border-radius: 4;
}

select.form-control {
    font-family: "Jost-Medium" !important;
    font-size: 1em;
    -webkit-appearance: menulist;
    color: #142e49;
    background-color: #ffffff !important;
    border: 2px solid #97D0F5 !important;

    /* padding-top: 1.2vh;
    padding-bottom: 1.2vh; */
    margin-bottom: 10px;
    margin-top: 0px;
}

select.form-control:focus {
    font-family: "Jost-Medium";
    color: #142e49;
    border-color: 2px solid #97D0F5 !important;

    /* padding-top: 1.2vh;
    padding-bottom: 1.2vh; */
    margin-bottom: 10px;
    margin-top: 0px;
}

.form-control {
    font-family: "Jost-Regular";
    box-shadow: none;
    border: 2px solid #97D0F5;
    padding-bottom: 0.8vh;
    margin-bottom: 10px;
    margin-top: 0px;
    color: #000000;
    border-radius: 0px;
    background-color: #ffffff;
    padding-top: 0.8vh;
    border-radius: 7px;
    text-transform: none;
}

.form-control:focus {
    font-family: "Jost-Regular";
    color: #000000;
    box-shadow: none;
    border-width: 2px;
    background-color: #ffffff;
    border: 2px solid #97D0F5;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    margin-bottom: 10px;
    margin-top: 0px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input#customFile.upload-file {
    display: flex;
    color: #142e49;
    border-width: 0px;
    border-style: solid;
    border-radius: 0;
}

.form-check-input,
.form-check-input:focus {
    background-color: #ffffff;
    border: 2px solid #97D0F5;
    outline: 0;
    border-radius: 3px !important;
}

.form-check-input:checked {
    background-color: #97D0F5;
    border: 2px solid #97D0F5;
    box-shadow: none;
}

/* Placeholder */
.form-control::placeholder {
    font-family: "Jost-Regular";
    font-weight: 200;
    font-style: normal;
    color: #97D0F5;
    text-transform: none;
}

::placeholder {
    font-family: "Jost-Regular";
    font-weight: 200;
    font-style: normal;
    color: #97D0F5;
    text-transform: none;
}

input[type="text"].form-control::-webkit-input-placeholder {
    color: #97D0F5;
    font-family: "Jost-Medium";
    font-weight: 200;
    font-style: normal;
    text-transform: none;
}

.aria-labelledby {
    color: #97D0F5;
}

/* General layout */
.col-10.col-lg-10.col-md-10.col-sm-10 {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}

.body-content {
    display: block;
    z-index: 3;
    position: relative;
    padding-bottom: 17vh;
}

.main {
    padding-bottom: 10vh;
}

.logo {
    padding: 50px 0px;
}

.margin {
    margin-left: auto;
    margin-right: auto;
}

.info-graphic {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* Video modal */
.modal-backdrop.show {
    opacity: .65;
}

.bernini-modal {
    max-width: 420px;
    padding: 0 14px;
}

.bernini-modal__content {
    border: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0,0,0,.25);
}

.bernini-modal__header {
    position: relative;
    background: #97D0F5;
    padding: 16px 52px 16px 52px;
    text-align: center;
}

.bernini-modal__title {
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 24px;
    color: #142e49;
    line-height: 1;
}

.bernini-modal__close {
    position: absolute;
    top: 10px;
    right: 14px;
    border: 0;
    background: transparent;
    font-weight: 800;
    font-size: 18px;
    color: #0b2a3a;
    cursor: pointer;
}

.bernini-modal__body {
    padding: 22px 26px 26px;
    font-size: 14px;
    color: #142e49;
}

.bernini-modal__btn {
    background: #9fcff0;
    color: #ffffff;
    font-weight: 800;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px;
}

.bernini-modal__btn:hover,
.bernini-modal__btn:focus {
    background: #8fc6ee;
    color: #ffffff;
}

/* End Video modal */
.brand-share {
    padding-top: 10px;
    padding-bottom: 0px;
}

.social-share {
    display: inline-flex;
    padding-top: 0px;
    justify-content: center;
}

.social-icons {
    height: 40px;
    width: 40px !important;
    margin-left: 5px;
    margin-right: 5px;
}