@font-face {
    font-family: "McCainWedgeBrush-Regular";
    src: url('assets/fonts/McCainWedgeBrush-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: rooney-web, serif;
    font-weight: 900;
    font-style: normal;
    src: url('assets/fonts/Faktum-SemiBold.otf');
    font-style: normal;
}

h1 {
    font-family: "McCainWedgeBrush-Regular";
    color: #F47421 !important;
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 30px;
    font-weight: inherit !important;
    text-transform: uppercase;
}

h2 {
    font-family: "McCainWedgeBrush-Regular";
    color: #F47421 !important;
    font-weight: 500 !important;
    font-size: calc(1.325rem + 0.9vw);
    text-transform: uppercase;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

h3 {
    font-family: rooney-web, serif !important;
    font-weight: 900;
    font-style: normal;
    color: #1D1D1B;
    font-size: calc(1.3rem + 0.6vw);
    text-align: center;
    padding-top: 10px;
}

h4 {
    font-family: rooney-web, serif;
    font-weight: 800;
    font-style: normal;
    color: #1D1D1B;
    font-size: calc(1.275rem + 0.3vw);
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

p {
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1D1D1B;
    font-size: 1.1rem;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
    text-transform: none;
    font-weight: 400;
}

/* Buttons */
.btn-primary {
    color: #FFFADC;
    background-color: #1D1D1B;
    width: 100%;
    font-size: 1.3em;
    margin-top: 20px;
    font-family: rooney-web, serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    outline: none;
    border: 0px none;
    border-style: none !important;
    border-radius: 10px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:focus-visible,
.btn-primary:hover {
    background-color: #1D1D1B !important;
    box-shadow: none !important;
    outline: none;
    color: #F47421;
    border: 0px none;
    border-radius: 10px !important;
    filter: brightness(110%);
}

/* Form related */
.form-check {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

option {
    background-color: #ffffff;
    color: #1D1D1B;
}

select.form-control,
select.form-control:focus,
select.form-control:active {
    font-family: brother-1816, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    -webkit-appearance: menulist;
    color: #1D1D1B;
    padding-bottom: 1.1vh;
    padding-top: 1.1vh;
    min-height: 4vh;
}

.form-control,
.form-control:focus,
.form-control:active {
    font-family: brother-1816, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    box-shadow: none;
    border: 2px solid #1D1D1B;
    padding-bottom: 0.8vh;
    margin: 0px;
    color: #1D1D1B;
    border-radius: 10px;
    background-color: #ffffff;
    padding-top: 0.8vh;
    min-height: 4vh;
}

.form-check-input,
.form-check-input:focus {
    background-color: #ffffff;
    border: 2px solid #1D1D1B;
    outline: 0;
    border-radius: 3px !important;
}

.form-check-input:checked {
    background-color: #1D1D1B;
    border: 2px solid #1D1D1B;
    box-shadow: none;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.input-date {
    color: #1D1D1B;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border: 2px solid #1D1D1B;
    border-radius: none !important;
    background: #ffffff !important;
}

.input-date:focus-visible {
    outline: none;
}

label {
    color: #1D1D1B;
    padding: 10px 0px 5px;
    font-family: brother-1816, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1em;
    text-transform: none;
}

.form {
    display: block;
    margin-top: 0em;
}

.form-fill-out {
    padding-left: 5px;
    padding-right: 5px;
}

/* file upload input */
#fileUpload {
    background-color: #ffffff;
    text-transform: lowercase;
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 2px solid #1D1D1B;
    width: 100%;
    min-height: 5vh;
    border-radius: 10px 10px 10px 10px;
}

::file-selector-button {
    font-family: brother-1816, sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 2px solid #1D1D1B;
    color: #FFFADC;
    padding: 0.8vh 0.8vw 0.8vh 0.8vh;
    min-height: 5vh;
    border-radius: 0px 10px 10px 0px;
    background-color: #1D1D1B;
    height: 100%;
}

/* placeholder text */
.form-control::placeholder,
.input-date::placeholder {
    font-family: brother-1816, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #CDCDCD;
    opacity: 1;
    font-size: 0.9em;
}

::placeholder {
    font-family: brother-1816, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #CDCDCD;
}

input[type="text"].form-control::-webkit-input-placeholder,
input[type="tel"].input-date::-webkit-input-placeholder {
    font-family: brother-1816, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #CDCDCD;
}

.aria-labelledby {
    color: #CDCDCD;
}

/* header */
.hero-desktop,
.hero-mobile {
    width: 100%;
}

.hero {
    margin-bottom: 10px;
    display: block;
}

.logo {
    margin-top: 50px;
    margin-bottom: 10px;
}

/* Footer section */
section.footer {
    padding-top: 20px;
    flex-shrink: 0;
    margin-top: auto;
}

.footer-area {
    display: flex;
    justify-content: center;
}

/* XS mobile rules */
@media (min-width:0px) and (max-width:400px){
    .hero #desktop {
        visibility: hidden;
        display: none;
    }

    body {
        display: flex;
        flex-direction: column;
        background-image: url("assets/mobile-background.jpg");
        background-color: #FFFADC;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
    }
}

/* Mobile rules */
@media (min-width:400px) and (max-width:767px) {
    .hero #desktop {
        visibility: hidden;
        display: none;
    }

    .hero #mobile {
        width: 100%;

        /* min-height: 300px;
        max-height: 400px; */
    }

    body {
        display: flex;
        flex-direction: column;
        background-image: url("assets/mobile-background.jpg");
        background-color: #FFFADC;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
    }
}

/* Desktop rules */
@media (min-width:768px) {
    .hero #mobile {
        visibility: hidden;
        display: none;
    }

    .hero #desktop {
        /* min-height: 450px;
        max-height: 550px; */
        width: 100%;
    }

    body {
        background-image: url("assets/desktop-background.jpg");
        background-color: #FFFADC;
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
    }

    .closing {
        background-image: url("assets/desktop-background.jpg");
        background-color: #FFFADC;
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
    }
}

/* links */
a {
    color: #1D1D1B;
    text-decoration: underline !important;
}

a:hover {
    color: #1D1D1B !important;
}

a:hover,
a:focus,
a:visted,
a:active {
    color: #1D1D1B !important;
}

/* general layout */
.body-content {
    flex: 1 0 auto;
    overflow: hidden;
    display: block;
    padding-bottom: 10vh;
}

hr {
    margin: 1rem 0;
    color: inherit;
    opacity: 1;
    border-top-width: 2px;
    border-top-color: #ffffff;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    width: 100%;
}

.row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.social-img {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.social-img img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.social-img:hover {
    transform: translateY(-2px);
}

