@font-face {
    font-family: "HelveticaNeueBold";
    src: url('assets/fonts/HelveticaNeueBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url('assets/fonts/HelveticaNeueLight.ttf');
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue-Condensed";
    src: url('assets/fonts/HelveticaNeue-Condensed.ttf');
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url('assets/fonts/HelveticaNeueMedium.ttf');
    font-style: normal;
}

p {
    font-family: "HelveticaNeueLight";
    font-size: 1.2em;
    padding-top: 0px;
    text-transform: none;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-family: "HelveticaNeueBold";
    font-size: calc(1.375rem + 1.5vw);
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

h2 {
    font-family: "HelveticaNeueBold";
    font-size: calc(1.325rem + 0.9vw);
    padding-top: 0px;
    text-transform: uppercase;
    color: #ffffff !important;
    text-align: center;
}

h3 {
    font-family: "HelveticaNeueMedium";
    font-size: calc(1.205rem + 0.4vw);
    padding-top: 0px;
    text-transform: none;
    color: #ffffff;
    text-align: center;
}

h4 {
    font-family: "HelveticaNeueBold";
    font-size: calc(1.2rem + 0.3vw);
    padding-top: 0px;
    text-transform: none;
    color: #ffffff;
    text-align: left;
}

h5 {
    font-family: "HelveticaNeueBold" !important;
    font-size: calc(1rem + 0.275vw);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

h6 {
    font-family: "HelveticaNeueBold" !important;
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    display: block;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

span-alt {
    color: #ffffff;
    font-family: "HelveticaNeueBold" !important;
    margin-top: 20px;
}

span-dl {
    color: #ffffff;
    font-family: "HelveticaNeueBold" !important;
}

span {
    color: #EED186;
    font-family: "HelveticaNeueBold" !important;
}

/* header */
.hero-desktop {
    width: 100%;
    margin-bottom: 0px;
    z-index: 2;
}

.hero-mobile {
    position: absolute;
    width: 100%;
    margin-bottom: 0px;
    z-index: 2;
}

/* Footer section */
.sponsors {
    position: relative;
    z-index: 5;
    margin-top: -38px;
    padding-top: 20px;
}

.desktop-footer {
    padding: 0;
    bottom: 0;
    margin-top: -37px;
}

.logo-container {
    text-align: center;
}

@media (min-width: 576px) {
    .logo-container {
    }
}

.logo-container img {
    max-width: 100px;

    /* Adjust size as needed */
    margin: 10px;
}

/* XS Mobile rules */
@media (max-width:767px) {
    section.background-img {
        background-image: url('assets/background-img-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 97vh;
        background-position: center center;

        /* z-index: -1 ; */
        position: relative;
        margin-top: -14px;
    }

    .desktop-footer {
        visibility: hidden;
        display: none;
    }

    .hero-desktop {
        visibility: hidden;
        display: none;
    }

    .logo-row {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 80px;
    }

    .footer-area {
        margin-top: -31%;
    }

    #short.body-content {
        padding-bottom: 15vh !important;
    }

    .body-content {
        padding-bottom: 20vh;
    }

    .mobile-footer {
        position: relative;
        padding-top: 20px !important;
        padding: 0;
        bottom: 0;
        margin-top: -10px;
        z-index: 2;
    }
}

/* MD mobile rules */
@media (min-width:350px) and (max-width:450px) {
    .body-content {
        padding-bottom: 20vh;
    }

    #short.body-content {
        padding-bottom: 15vh !important;
    }

    .footer-area {
        margin-top: -39%;
    }
}

/* Desktop rules */
@media (min-width:768px) {
    section.background-img {
        background-image: url('assets/desktop-background-img1.png');
        background-repeat: no-repeat;
        min-height: 95vh;
        background-position: fixed;
        background-size: cover;
        margin-top: -5%;
    }

    .mobile-footer {
        visibility: hidden;
        display: none;
    }

    .hero-mobile {
        visibility: hidden;
        display: none;
    }

    .footer-area {
        margin-top: -7%;
    }

    .body-content {
        padding-bottom: 28vh;
    }
}

/* Buttons and links */
.btn-primary {
    font-family: "HelveticaNeueBold";
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: none;
    background-image: linear-gradient(#C5A15E, #EED186);
    box-shadow: inset 0px -5px 5px rgb(119, 90, 35);
    border: none;
    width: 100%;
    color: #ffffff !important;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    font-size: 1.3em;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
    font-family: "HelveticaNeueBold";
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(#C5A15E, #EED186);
    border: none;
    width: 100%;
    color: #ffffff !important;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: none;
}

a:hover,
a:focus,
a:visted,
a:active {
    color: #ffffff !important;
}

a {
    color: #ffffff !important;
    text-decoration: underline;
}

/* Form */
.form {
    display: block;
    margin-top: 0em;
}

.age-confirmation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-right: 5px;
    padding-left: 5px;
}

.form-control {
    font-family: "HelveticaNeueLight";
    box-shadow: none;
    border-width: 0px;
    background: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #360D53 ;
    border-radius: 5px;
}

.form-control:focus,
.form-control:active,
.form-control:hover {
    font-family: "HelveticaNeueLight";
    box-shadow: none;
    border-width: 0px;
    background: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #360D53 ;
}

select.form-control {
    font-family: "HelveticaNeueLight";
    -webkit-appearance: menulist;
    color: #360D53;
    height: 38px;
}

.form-check-input:focus {
    border-color: transparent !important;
    outline: 0;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.form-check-input:checked {
    background-color: #360D53;
    border-color: #360D53;
    box-shadow: none;
    width: 1em;
    height: 1em;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.form-check-input[type="checkbox"] {
    width: 1em;
    height: 1em;
    padding-right: 10px;
    border-radius: 5px;
}

.form-check {
    display: flex;
    align-items: baseline;
    border-radius: 5px;
}

option {
    color: #360D53;
    font-size: 1em;
}

.form-check-label {
    font-family: "HelveticaNeueBold" !important;
    padding-left: 10px;
    font-size: 1.1em;
}

input#customFile.upload-file {
    display: flex;
    color: #ffffff;
    border-width: 13px;
}

label {
    font-family: "HelveticaNeueBold" !important;
    color: #ffffff;
    padding: 0px 0px 5px;
    font-size: 1.1em;
    text-transform: none;
}

input[type="text"].form-control::-webkit-input-placeholder {
    font-family: "HelveticaNeueLight";
    color: #B0B3B4 !important;
}

.form-fill-out {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}

.input-date {
    font-family: "HelveticaNeueLight" !important;
    color: #C5A15E ;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.input-date:focus,
.input-date:active,
.input-date:hover {
    font-family: "HelveticaNeueLight" !important;
    color: #C5A15E ;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;
}

/* Placeholder text */
.form-control::placeholder {
    font-family: "HelveticaNeueLight" !important;
    color: #B0B3B4;
    opacity: 1;
    letter-spacing: none;
    font-size: 0.9em;
}

.input-date::placeholder {
    font-family: "HelveticaNeueLight" !important;
    color: #B0B3B4;
    opacity: 1;
    letter-spacing: none;
    font-size: 0.9em;
}

::placeholder {
    color: #B0B3B4 !important;
    font-family: "HelveticaNeueLight";
}

input[type="text"].form-control::-webkit-input-placeholder {
    color: #B0B3B4;
    font-family: "HelveticaNeueLight";
}

.aria-labelledby {
    color: #ffffff;
}

/* General */
option {
    font-size: 0.8em;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.logo-row {
    padding: 20px 0px 20px;
}

.backdrop {
    padding: 10px 0px 20px;
    box-shadow: inset 0 4px 12px rgba(0, 0, 0, 0.106), 
                0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    margin-top: 0px;
}

.backdrop-row {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.main-content {
    display: block;
    align-content: center;
    box-sizing: border-box;
    padding-bottom: 10px;
}

hr {
    opacity: 1;
    color: #ffffff;
}

#hr {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Sign In */
.tab-content {
    padding-top: 10px;
}

.form-container {
    max-width: 100%;
    margin: auto;
}

.nav-item {
    width: 50%;
}

.nav-tabs {
    width: 100% !important;
    border-bottom: 1px solid #ffffff;
    opacity: 1;
}

.nav-tabs .nav-link {
    font-family: "HelveticaNeueBold" !important;
    margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
    border: 0px solid #ffffff;
    font-size: calc(1.325rem + 0.9vw);
    padding-top: 0px;
    text-transform: uppercase;
    color: #ffffff !important;
    text-align: center;
    background-color: transparent !important;
}

.nav-tabs .nav-link.active {
    font-family: "HelveticaNeueBold" !important;
    margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
    border: 0px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    font-size: calc(1.325rem + 0.9vw);
    padding-top: 0px;
    text-transform: uppercase;
    color: #ffffff !important;
    text-align: center;
    background-color: transparent !important;
}

.nav-tabs .nav-link.hover {
    font-family: "HelveticaNeueBold" !important;
    margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
    border: 0px solid #ffffff;
    border-bottom: 2px solid #C5A15E;
    font-size: calc(1.325rem + 0.9vw);
    padding-top: 0px;
    text-transform: uppercase;
    color: #C5A15E !important;
    text-align: center;
    background-color: transparent !important;
}

/* Auditions */
.event-card {
    color: #ffffff;
}

.venue-container {
    --bs-gutter-x: 0px !important;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-right: auto;
    margin-left: auto;
}

.event-icon {
    margin-right: 10px;
}

.event-details {
    margin-bottom: 10px;
}

hr {
    border-color: #ffffff;
}

/* Map */
.map-container {
    position: relative;
    padding-bottom: 56.25%;

    /* Ratio for 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background-color: #ddd;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Adverts */
.ad-container {
    display: flex;
}

.ad {
    width: 30%;
    height: auto;
    margin: 0 10px;
    padding-bottom: 20px;
}

/* Download */
.download-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.download-icon {
    width: auto;
    height: 40px;
    margin-right: 3%;
}

a-alt {
    color: #ffffff !important;
    text-decoration: none !important;
}

/* TrackList */
.track-list {
    margin-top: 20px;
}

.track-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.last-track-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.track-thumbnail img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.play-icon {
    width: 40px;
    height: 40px;
    color: #ffffff;
}

.track-details {
    flex-grow: 1;
    margin-left: 15px;
}

.track-details h5 {
    font-family: "HelveticaNeueBold" !important;
    text-align: left !important;
    margin: 0;
    font-size: 1.2rem;
    text-transform: none;
}

.track-details p {
    font-family: "HelveticaNeueLight" !important;
    text-align: left !important;
    margin: 0;
    font-size: 0.9rem;
    color: #ffffff;
    margin-left: 13px;
}

/* Lyrics */
.lyrics-container {
    margin-top: 0px;
    padding: 0px;
    background-color: transparent;
}

.lyrics {
    font-family: "HelveticaNeueLight" !important;
    text-align: center;
    color: #ffffff;
}

.a-alt {
    background-color: transparent;
    text-decoration: none !important;
}

/* TEST */
.music-player {
    width: 100%;
    background-color: #e8e0ee;
    padding: 15px;
    border-radius: 10px;
}

.player-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.album-cover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.track-details h4,
.track-details p {
    margin: 0;
    font-size: 14px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-time,
.total-time {
    font-size: 12px;
}

/* Style the progress bar */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ccc;

    /* Background color of the track */
    border-radius: 5px;
    outline: none;
}

/* WebKit browsers (like Chrome) */
input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    background: #7D8181;

    /* Black progress bar */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: none;
    background: #000;

    /* Black thumb */
    cursor: pointer;
}

/* Firefox */
input[type="range"]::-moz-range-track {
    height: 8px;
    background: #000;

    /* Black progress bar */
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;

    /* Black thumb */
    cursor: pointer;
}

/* Edge and Internet Explorer */
input[type="range"]::-ms-track {
    height: 8px;
    background: #000;

    /* Black progress bar */
    border-color: transparent;
    color: transparent;
}

input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #000;

    /* Black thumb */
    cursor: pointer;
}

/* Progress conter end */
.progress-bar {
    width: 100%;
    margin: 0 10px;
}

.volume-control {
    margin-left: 10px;
}

.volume-icon {
    font-size: 16px;
    cursor: pointer;
}

.player-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.player-buttons button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
}

/* Player */
.music-player {
    background-color: rgba(255, 255, 255, 0.70);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.album-art {
    margin-right: 10%;
    width: 50px;
    height: 50px;
}

.track-info {
    font-size: 14px;
    text-align: left;
}

.control-group {
    display: flex;
    gap: 8%;

    /* Space between controls */
}

.small-control {
    padding: 5px;

    /* Smaller padding */
    font-size: 0.85rem;

    /* Smaller font size */
}

#progress {
    height: 10px;
    background-color: #7D8181;
}

.progress-bar {
    height: 10px;
    background-color: #000000;
}

p-alt {
    color: #000 !important;
}

/* Info icon */
.info-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.info {
    position: relative;
    padding-top: 30%;
    padding-left: 10px;
    font-size: 15px;
    width: 40px;
    height: auto;
    display: block;
    z-index: 3 !important;
}

.tooltip {
    display: none;
    background-color: #000000;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 20px;
    white-space: nowrap;
    z-index: 1;
}

.info-icon:hover .tooltip {
    display: block;
}